    {# fs_doc/admin/foreskrift.html #}
    {% extends 'adminplus/base.html' %}

{% block content %}

    <h2>{{doc.identifierare}} {{doc.titel|safe}}</h2>
    <p class="type">{{doc.role_label}}</p>

    <p class="download"><a href="{{site.url}}{{doc.content.url}}">Ladda ner ner {{doc.identifierare}} som PDF</a></p>

    <table class="fsdata">
        <tr>
            <th scope="row">Identifierare</th>
            <td>{{doc.identifierare}}</td>
        </tr>
        <tr>
            <th scope="row">Beslutad</th>
            <td>{{doc.beslutsdatum}}</td>
        </tr>
        <tr>
            <th scope="row">Ikraffträdandedag</th>
            <td>{{doc.ikrafttradandedatum}}</td>
        </tr>
        <tr>
            <th scope="row">Utkom från tryck</th>
            <td>{{doc.utkom_fran_tryck}}</td>
        </tr>
        {% if doc.bemyndiganden %}
        <tr>
            <th scope="row">Bemyndiganden</th>
            <td>{% for para in doc.bemyndiganden.all %}{% if para.kapitelnummer %}{{para.kapitelnummer}} kap. {% endif %}{{para.paragrafnummer}} § {{para.titel}} ({{para.sfsnummer}}){% if not forloop.last %}, {% endif %}{% endfor %}</td>
        </tr>
        {% endif %}
        {% if doc.amnesord %}
        <tr>
            <th scope="row">Ämnesord</th>
            <td>{% for ord in doc.amnesord.all %}{{ord.titel}}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
        </tr>
        {% endif %}
        {% if doc.celexreferenser.all %}
        <tr>
            <th scope="row">Relaterade EG-direktiv</th>
            <td><ul>{% for referens in doc.celexreferenser.all %}<li><a href="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CELEX:{{referens.celexnummer}}:SV:HTML">{{referens}}</a></li>{% endfor %}</ul></td>
        </tr>
        {% endif %}
    </table>

    {% if doc.bilagor.all %}
        <h2>Bilagor</h2>
        <ul>
            {% for bilaga in doc.bilagor.all %}
                <li>
                    {% if bilaga.file %}
                        <p class="download">
                          <a href="{{site.url}}/{{bilaga.file.url}}">Ladda ner {{ bilaga.titel }} som PDF</a>
                        </p>
                    {% else %}
                        <p>{{ bilaga.titel}}</p>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if fdocovriga_dokument.all %}
        <h2>Övriga dokument</h2>
        <ul>
            {% for dok in doc.ovriga_dokument.all %}
                <li>
                    {% if dok.file %}
                        <p class="download">
                            <a href="{{site.url}}/{{dok.file.url}}">Ladda ner {{ dok.titel }} som PDF</a>
                        </p>
                    {% else %}
                        <p>{{ dok.titel }}</p>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    
    {% if doc.andringar.all %}
    <h2>Författningsdokument som ändras</h2>
    <ul class="andringar">
        {% for changed_doc in doc.andringar.all %}
        <li><a href="{{changed_doc.get_absolute_url}}">{{changed_doc}}{% if changed_doc.omtryck %} (omtryck){% endif %}</a></li>
        {% endfor %}
    </ul>
    {% endif %}

{% endblock %}
