{% extends "site_base.html" %}

{% block title %}{{ organization.name_possessive }} författningssamling{% endblock %}

{% block content %}
    <h1>{{ organization.name_possessive }} författningssamling</h1>
    <p>Se nedan för de senast utgivna författningsdokumenten.</p>
    <h2>Senast publicerat</h2>
    {% if latest_documents %}
    <table class="foreskrifter">
        <tr>
            <th>Beslutsdatum</th>
            <th>Föreskrift</th>
            <th>Roll</th>
        </tr>
        {% for doc in latest_documents %}
        <tr>
            <td>{{doc.beslutsdatum}}</td>
            <td><a href="{{doc.get_absolute_url}}">{{doc.identifierare}} {{doc.titel}}</a></td>
            <td>{{doc.role_label}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}
