{% extends "site_base.html" %}

{% block title %}{{ organization.name_possessive }} författningssamling{% endblock %}

{% block content %}
    <h1>{{ organization.name_possessive }} författningssamling</h1>
    <p>Se nedan för de senast utgivna föreskrifterna.</p>
    <h2>Senast publicerat</h2>
    {% if senaste_myndighetsforeskrifter %}
    <table class="foreskrifter">
        <tr>
            <th>Beslutad</th>
            <th>Föreskrift</th>
            <th>Typ</th>
        </tr>
        {% for foreskrift in senaste_myndighetsforeskrifter %}
        <tr>
            <td>{{foreskrift.beslutsdatum}}</td>
            <td><a href="{{foreskrift.get_absolute_url}}">{{foreskrift.identifierare}} {{foreskrift.titel}}</a></td>
            <td>{{foreskrift.typ}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}
