{% extends "site_base.html" %}

{% block title %}{{doc.titel}}{% endblock %}


{% block content %}

    <h2>{{doc.identifierare}} {{doc.titel|safe}}</h2>
    <p class="type">{{doc.role_label}}</p>

    <p class="download"><a href="{{site.url}}/{{doc.content.url}}">Ladda ner ner {{doc.identifierare}} som PDF</a></p>

    <table class="fsdata">
        <tr>
            <th scope="row">Identifierare</th>
            <td>{{doc.identifierare}}</td>
        </tr>
        <tr>
            <th scope="row">Konsolideringsdatum</th>
            <td>{{doc.konsolideringsdatum}}</td>
        </tr>
    </table>
    
    <h2>Konsolideringsunderlag</h2>
    <ul class="andringar">
        {% for changed_doc in doc.get_konsolideringsunderlag %}
        <li><a href="{{changed_doc.get_absolute_url}}">{{changed_doc}}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
