{% extends "site_base.html" %}

{% block title %}{{ organization.name_possessive }} föreskrifter per ikraftträdandeår{% endblock %}

{% block content %}
    <h1>Författningar och allmänna råd</h1>
    
    <p>Författningsdokument indelade efter ikraftträdandeår.</p>

    {% regroup fs_documents by ikrafttradandear as foreskrifter_per_ar %}

    {% for ikrafttradandear in foreskrifter_per_ar %}
        <h2>{{ikrafttradandear.grouper}}</h2>
        <ul class="foreskrifter">
            {% for foreskrift in ikrafttradandear.list %}
            <li><a href="{{foreskrift.get_absolute_url}}">{{foreskrift.tst}} {{foreskrift.fsnummer}} {{foreskrift.titel}}</a></li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
