{% extends 'adminplus/base.html' %}


{% block content %}
    <h2>Föreskrifter och allmänna råd</h2>
    
    <p>Författningsdokument grupperade efter år för ikraftträdande.</p>

    {% regroup fs_documents by ikrafttradandear as foreskrifter_per_ar %}

    {% for ikrafttradandear in foreskrifter_per_ar reversed %}
        <h2>{{ikrafttradandear.grouper}}</h2>
        <ul class="foreskrifter">
            {% for doc in ikrafttradandear.list %}
            <li><a href="{{doc.get_admin_url}}">{{doc.identifierare}} {{doc.titel}}</a></li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
