{% extends "site_base.html" %}

{% block title %}{{ organization.name_possessive }} föreskrifter per ämnesord{% endblock %}

{% block content %}
    <h1>Föreskrifter per ämnesord</h1>
    <p>Här hittar du våra föreskrifter indelade efter ämnesord.</p>
    {% for ord in amnesord %}
        <h2>{{ord.titel}}</h2>
        <ul class="foreskrifter">
            {% for foreskrift in ord.myndighetsforeskrift_set.all %}
            <li><a href="{{foreskrift.get_absolute_url}}">{{foreskrift.fsnummer}} {{foreskrift.titel}}</a></li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
