{% extends "site_base.html" %}

{% block title %}{{ organization.name_possessive }} föreskrifter per ämnesord{% endblock %}

{% block content %}
    <h2>Författningar och allmänna råd</h2>
    <p>Författningsdokument indelade efter ämnesord.</p>
    {% for key in docs_by_keywords.items %}
        <h2>{{key.0.titel}}</h2>
        <ul class="foreskrifter">
            {% for doc in key.1 %}
            <li><a href="{{doc.get_absolute_url}}">{{doc.fsnummer}} 
            {{doc.titel}}</a></li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
