Django==1.7
Fabric==1.8.0
SPARQLWrapper==1.5.2
astroid==1.0.1
coverage==3.7
django-jenkins==0.14.1
ecdsa==0.10
html5lib==0.99
isodate==0.4.9
logilab-common==0.60.0
paramiko==1.12.0
pycrypto==2.6.1
pylint==1.0.0
pyparsing==2.0.1
rdflib==4.0.1
six==1.4.1
wsgiref==0.1.2
