{% extends "admin/base.html" %}

{% block title %}
    {{ title }} | FST - {{ organization.name_possessive }} lagrum
{% endblock %}

{% block branding %}
    <h1 id="site-name"> FST - {{ organization.name_possessive }} lagrum</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block footer %} 
</div>
<div class="footer">
<p>FST drivs och utvecklas av <a href="http://dev.lagrummet.se/">rättsinformationsprojektet</a>. Källkoden bakom tjänsten finns på <a href="https://github.com/rinfo/fst">GitHub</a>.</p>
</div>
</div>
{% endblock %}
